body{

    background:var(--background);

    color:var(--text);

    transition:.3s;

}
:root{

    --background:#F0F4F8;
    --card:#ffffff;
    --text:#1E293B;
    --primary:#5B4DDB;
    --secondary:#64748B;
    --border:#E5E7EB;

}

[data-theme="dark"]{

    --background:#0F172A;
    --card:#1E293B;
    --text:#F8FAFC;
    --primary:#6D5DF6;
    --secondary:#CBD5E1;
    --border:#334155;

}